body {
    font-family: 'Gilroy', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 132%;
    ;
    background-color: #0B1D26;
    color: #fff;
}

.container {
    max-width: 1542px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}

.hide {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 467px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 562px) {
    .container {
        padding: 0 30px;
    }
}
